@use '../abstracts/variables' as *;

.button {
	padding: 0.5rem 1rem;

	display: flex;
	align-items: center;

	width: max-content;

	color: $color-text-light;
	background: rgba($color-button, 0.625);

	border-radius: 0.5rem;

	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);

	transition: all 250ms ease-out;

	.icon {
		margin-right: 0.5rem;

		width: 1.5rem;
		height: 1.5rem;
	}

	.arrow {
		margin-left: 0.5rem;

		width: 1.5rem;
		height: 1.5rem;

		transition: all 250ms ease-out;
	}

	&:hover {
		background: rgba($color-button-hover, 0.5);

		.arrow {
			transform: translateX(0.25rem);
		}
	}

	&:active {
		background: rgba($color-button-active, 0.5);
	}

	&:disabled {
		color: $color-text-muted;
		background: rgba($color-button, 0.5);
	}
}