@use '../abstracts/variables' as *;

.contact-form {
    margin: 1rem 0;
    padding: 0 1rem;
    
    .input-grid {
        margin: 1rem 0;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 0.5rem;

        #message {
            grid-column: span 2 / span 2;
        }

        .input {
            padding: 0.5rem 1rem;

            color: $color-text;
	        background: rgba($color-button, 0.625);

            border-radius: 0.5rem;

	        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);

            resize: none;
        }
    }

    .submit-and-status {
        display: flex;

        flex-direction: row;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;

        button {
            flex-grow: 0;
            flex-shrink: 0;
        }

        p {
            margin: 0;
            padding: 0.5rem 1rem;

            &.error-message {
                color: $color-accent-primary;
            }
        }
    }
}

@media (max-width: 768px) {
    .contact-form .input-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);

        #message {
            grid-column: auto;
        }
    }
}