@use '../abstracts/variables' as *;

header {
    position: fixed;
    z-index: 100;

    padding: 0 2rem;

    height: 4rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: min(85%, 1080px);

    .navbar {
        display: flex;
        justify-content: flex-start;
        gap: 0.5rem;

        .page {
            position: relative;

            padding: 0.5rem 1rem;

            color: $color-text-muted;

            transition: all 250ms ease-out;

            &::before {
                content: '';

                position: absolute;

                bottom: 0;
                left: 0;

                width: 100%;
                height: 2px;

                opacity: 0;
                background: $color-text-muted;

                transition: all 250ms ease-out;
            }

            &:hover {
                color: $color-text;

                &::before {
                    opacity: 1;
                    background: $color-text;
                }
            }

            &:active {
                color: $color-text-light;

                &::before {
                    opacity: 1;
                    background: $color-text-light;
                }
            }

            &.active {
                color: $color-accent-primary;

                &::before {
                    opacity: 1;
                    background: $color-accent-primary;
                }
            }
        }
    }

    &::before {
        content: '';

        position: absolute;
        z-index: -1;

        top: 0;
        left: calc(50% - 50vw);

        width: 100vw;
        height: 100%;

        background: $color-bg-primary;
    }
}