@use '../abstracts/variables' as *;

.project-card {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 0.5rem;

    color: $color-text;
    background: $color-button;

    transition: all 250ms ease-out;

    & h3 {
        margin: 0;

        transition: all 250ms ease-out;
    }

    & p {
        margin: 0;
    }

    &:hover {
        background: $color-button-hover;

        & h3 {
            color: $color-accent-primary;
        }
    }
}