@use '../abstracts/variables' as *;

.skill-badge {
    position: relative;

    padding: 0.25rem 0.5rem;

    color: $color-text-muted;
    background: transparent;

    display: flex;
    align-items: center;

    border: 1px solid $color-text-muted;
    border-radius: 0.5rem;

    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);

    transition: all 250ms ease-out;

    .icon {
        margin-right: 0.5rem;

        width: 1.5rem;
        height: 1.5rem;
    }

    .skill-details {
        position: absolute;
        z-index: 100;

        top: calc(100% + 10px);
        left: 50%;

        transform: translateX(-50%);

        display: none;
        align-items: center;
        gap: 0.5rem;

        min-width: 10rem;
        padding: 0.75rem;

        background: $color-bg-tertiary;
        border-radius: 0.5rem;

        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
        text-align: center;

        .label {
            color: $color-text-muted;
        }
        .stars {
            color: $color-accent-primary;
        }

        &::before {
            content: '';

            position: absolute;

            bottom: 100%;
            left: 50%;

            transform: translateX(-50%);

            border: 6px solid transparent;
            border-bottom-color: $color-bg-tertiary;
        }
    }

    &:hover {
        color: $color-accent-primary;
        background: rgba($color-accent-primary, 0.25);

        border-color: $color-accent-primary;

        .skill-details {
            display: flex;
        }
    }
}