@use '../abstracts/variables' as *;

.skill-badge {
    position: relative;

    padding: 0.25rem 0.5rem;

    color: $color-text-muted;
    background: transparent;

    display: flex;
    align-items: center;

    border: 1px solid $color-text-muted;
    border-radius: 0.5rem;

    transition: all 250ms ease-out;

    .icon {
        margin-right: 0.5rem;

        width: 1.5rem;
        height: 1.5rem;
    }

    .skill-details {
        position: absolute;

        top: calc(100% + 10px);
        left: 50%;

        transform: translateX(-50%);

        width: 8rem;

        padding: 0.75rem;
        background: $color-bg-tertiary;
        border-radius: 0.5rem;
        
        z-index: 100;   
    }

    &:hover {
        color: $color-accent-primary;
        background: transparent;

        border-color: $color-accent-primary;
    }
}