.hero {
    & .links-container {
        margin: 1rem 0;
        padding: 0 1rem;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        gap: 1rem;
    }
}

.featured-projects {
    & .projects-container {
        margin: 1rem 0;
        padding: 0 1rem;

        display: grid;
        grid-template-columns: repeat(2, 1fr);

        gap: 1rem;
    }
}
.technical-skills {
    & .skills-container {
        margin: 1rem 0;
        padding: 0 1rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .featured-projects .projects-container {
        grid-template-columns: 1fr;
    }

    .technical-skills .skills-container {
        flex-direction: column;
    }
}