@use 'abstracts/variables';

@use 'base/reset';
@use 'base/typography';

@use 'components/button';
@use 'components/contactform';
@use 'components/footer';
@use 'components/header';
@use 'components/interactive-background';
@use 'components/loading';
@use 'components/project-card';
@use 'components/skills-list';
@use 'components/skill-badge';

@use 'layouts/main-layout';

@use 'pages/home';
@use 'pages/not-found';
@use 'pages/projects';

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 360px;
    min-height: 100vh;
}