.description {
    margin: 1rem 0;
    padding: 0 1rem;
    
    text-indent: 2ch;
}

.links {
    margin: 1rem 0;
    padding: 0 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.skills-container {
    margin: 1rem 0;
    padding: 0 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.projects-list {
    padding: 0 1rem;

    display: flex;
    gap: 1rem;
}

.projects-list .project {
    width: 100%;
}

