.button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    display: flex;
    align-items: center;

    color: #cdd6f4;
    background-color: #313244;

    transition: color 0.25s ease-out, background-color 0.25s ease-out;
}

.button:hover {
    color: #cdd6f4;
    background-color: #45475a;
}

.button:active {
    color: #cdd6f4;
    background-color: #585b70;
}

.button .icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
}

.button .arrow {
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 0.5rem;
}