nav {
    padding: 0.5rem 0;

    display: flex;
    justify-content: center;

    background-color: #11111b;
    backdrop-filter: blur(6px);

    position: fixed;

    width: 100%;
}

.navbar-container {
    padding: 0 2rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;

    width: 100%;
    max-width: 1280px;
}

.page {
    padding: 0.5rem 1rem;

    color: #a6adc8;
    font-size: 1.2rem;

    border-bottom: 2px solid transparent;

    transition: color 0.25s ease-out, border-bottom 0.25s ease-out;
}

.page:hover {
    color: #cdd6f4;
    border-bottom: 2px solid #cdd6f4;
}

.page.active {
    color: #f38ba8;
    border-bottom: 2px solid #f38ba8;
}
