.project-card {
    padding: 1rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 0.5rem;

    color: #bac2de;
    background: #1e1e2e;

    transition: background 250ms ease-out;
}

.project-card h3 {
    margin: 0;

    transition: color 250ms ease-out;
}

.project-card p {
    margin: 0;  
}

.project-card:hover {
    background: #313244;
}

.project-card:hover h3 {
    color: #f38ba8;
}