.skills-section {
    flex-basis: min(33%, 100vw);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-list {
    padding: 0 1rem;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}